.gradle
/local.properties
/.idea/workspace.xml
/.idea/*.xml
/.idea/libraries
/.idea/inspectionProfiles
.DS_Store
/build/
*/build/
/reports/
/captures
android-build.conf
build-enable.gradle

**/index.android.bundle
**/index.android.bundle.meta
**/index.android.map

/district/src/main/res/drawable*
**/com_crashlytics_export_strings.xml
**/crashlytics-build.properties

*.iml

.idea/
reports/

# ignore vscode setting file
.project
.settings/
.classpath
